/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* Hero css start */
  .hero_img {
    text-align: center;
  }
  .hero_img img {
    max-width: 70%;
  }

  /* hero bottom css */
  .hero_bottom {
    padding: 40px 0 10px;
  }

  .hero_bottom .hero_bottom_content {
    height: calc(100% -30px);
    margin-bottom: 30px;
  }

  .hero_bottom .col-lg-4:nth-child(even) .hero_bottom_content {
    border: none;
  }

  /* export doctor box css */
  .export_doctor_box {
    transform: translateY(-60px);
    padding: 12px;
  }
  .solution_plan_content {
    margin-left: 0;
  }
  .section_title {
    margin-bottom: 20px;
  }
  .section_btn {
    text-align: left;
    margin-top: 20px;
  }

  /* Hero css end */

  .solution_plan_content .section_title {
    text-align: left;
  }

  .solution_plan_image {
    justify-content: center;
    margin-bottom: 30px;
  }

  /* about us css */

  .about_us {
    padding: 50px 0 25px;
  }

  .about_us_image {
  }

  .about_img {
    text-align: center;
    margin-bottom: 30px;
  }

  /* why choose us */

  .why_choose_us {
    padding: 50px 0;
  }

  .why_choose_box_1 {
    border-radius: 30px 30px 0 0px;
  }

  .why_choose_box_2 {
    border-radius: 0 0 30px 30px;
  }

  /* footer css start */
  .main_footer {
    padding: 50px 0 0;
  }
  .about_footer {
    margin-bottom: 30px;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .about_footer_content {
    margin-bottom: 20px;
  }

  .about_working_hour,
  .about_service_list {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .about_working_hour h3,
  .about_service_list h3,
  .footer_contact h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer_contact_details .footer_info_box {
    margin-bottom: 20px;
  }

  .footer_copyright {
    padding: 30px 0;
    margin-top: 30px;
  }

  /* footer css end */
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  .hero_bottom .hero_bottom_content{
    padding-right: 0;
    border: none;
  }

  .hero_bottom_content .hero_bottom_text h3{
    font-size: 18px;
  }
  .btn_default {
    padding: 15px 55px 15px 15px;
  }
  .doctor_info {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  .appointment_btn {
    width: inherit;
  }

  .section_row {
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 1rem;
  }

  .our_services .section_btn {
    text-align: center;
  }

  .solution_counter_item {
    margin-bottom: 1.25rem;
  }

  .why_choose_item {
    padding: 20px 15px;
  }

  /* footer css start */

  .footer_contact_details .footer_info_box {
    margin-bottom: 15px;
  }

  .about_working_hour,
  .about_service_list {
    margin-bottom: 30px;
  }

  .about_working_hour ul li {
    margin-bottom: 15px;
  }

  .about_service_list ul li {
    margin-bottom: 15px;
  }

  .footer_copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
  }

  .footer_copyright_text {
    margin-bottom: 10px;
  }

  .footer_copyright_text p {
    font-size: 14px;
  }

  .footer_links ul {
    text-align: center;
  }
  /* footer css end */
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .hero_btn {
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
  }
  .service_cta_item {
    padding: 1.25rem;
    text-align: center;
  }
}
