/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* variabls */
:root {
  --textPrimary: rgb(21, 60, 51);
  --textSecondary: rgb(97, 158, 144);
  --textWhite: #ffffff;

  --bg-white: #ffffff;
  --bgPrimary: rgb(21, 60, 51);
  --bgSecondary: rgb(97, 158, 144);
  --bgTertiary: #e6efed;
  --accent-color: #619e90;

  --dividerColor: #ffffff26;
  --darkDividerColor: #153c331a;
  --transition300: all 0.3s ease-in-out;
  --error-color: rgb(230, 87, 87);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Archivo", serif;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

/* common style */
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

figure {
  margin: 0;
}

/* custom class */
.btn_default {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1em;
  color: var(--textWhite);
  background: var(--bgSecondary);
  text-transform: capitalize;
  padding: 18px 55px 18px 20px;
  border-radius: 99px;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn_default::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--bgPrimary);
  background-image: url(../images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  transform: translate(-10px, -50%);
  transition: all 0.3s ease-in-out;
}
.btn_default::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-radius: 99px;
  background: var(--bgPrimary);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.btn_default:hover::before {
  background-color: var(--bgSecondary);
  transition: all 0.4s ease-in-out;
}
.btn_default:hover::after {
  width: 100%;
}

.btn_default.btn_highlighted {
  background-color: var(--bg-white);
  color: var(--textSecondary);
}
.btn_default.btn_highlighted:hover {
  color: var(--textWhite);
}

.header_btn::before {
  background-image: url(../images/icon-phone.svg);
}

.section_title {
  margin-bottom: 30px;
}

.section_title h1 {
  font-size: clamp(1.5625rem, 1.0446rem + 2.5893vw, 3.375rem);
  font-weight: 700;
  color: var(--textPrimary);
}

.section_title h2 {
  /* font-size: clamp(1.2rem, 0.5786rem + 3.1071vw, 3.375rem); */
  font-size: clamp(1.625rem, 1.125rem + 2.5vw, 3.375rem);
  font-weight: 700;
  color: var(--textPrimary);
}

.section_title h3 {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: capitalize;
  background-color: #e6efed;
  color: var(--textSecondary);
  border-radius: 99px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.section_title h1 span,
.section_title h2 span {
  color: var(--textSecondary);
}

.section_title p {
  font-size: 1.125rem;
  color: var(--textPrimary);
  margin-top: 1.875rem;
  margin-bottom: 0;
}

img,
svg {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* .section_row .section_title {
  margin-bottom: 0;
} */

/* image animation */
.reveal {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

/* .reveal img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform-origin: left;
  transform-origin: left;
} */

.image-anime {
  position: relative;
  overflow: hidden;
}

.image-anime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.image-anime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

/* header css start */
.my_navbar {
  background-color: #ffffff;
}
.my_navbar .nav-link {
  font-weight: 500;
  line-height: 1.688rem;
  color: var(--textPrimary);
  transition: var(--transition300);
}
.my_navbar .nav-link:hover {
  color: var(--textSecondary);
}
/* header css end */

/* hero css start */
.hero_area {
  background-color: rgb(230, 239, 237);
  padding: 3.125rem 0 0;
}

.hero_content .section_title {
  margin-bottom: 1.875rem;
}

.hero_content hr {
  display: block;
  border: 1px solid var(--bgPrimary);
  margin: 2.5rem 0;
}

.hero_btn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.hero_counter h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--textSecondary);
  margin-bottom: 0.5rem;
}

.hero_counter p {
  color: var(--textPrimary);
  text-transform: capitalize;
  /* margin: 0; */
}

.hero_image {
  position: relative;
}
/* Export doctor tag css */
.export_doctor_box {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-100px);
  background-color: var(--bg-white);
  box-shadow: 0px 0px 24px 0px #00000012;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  animation: exportmoveobject 3s infinite linear alternate;
}

@keyframes exportmoveobject {
  50% {
    left: 50px;
  }
}

.export_doctor_box .icon-box {
  margin-right: 10px;
}

.export_doctor_box .icon-box img {
  max-width: 48px;
  border-radius: 50%;
}

.export_doctor_content {
  width: calc(100% - 58px);
}

.export_doctor_content h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--textPrimary);
}

.export_doctor_content p {
  color: var(--textPrimary);
  opacity: 0.5;
  text-transform: capitalize;
  margin: 0;
}

/* hero bottom section */
.hero_bottom {
  padding: 50px 0;
  background-color: var(--bgPrimary);
  /* color: var(--textWhite); */
}

.hero_bottom .hero_bottom_content {
  display: flex;
  position: relative;
  padding: 10px 15px 10px 0;
  border-right: 1px solid var(--dividerColor);
}

.hero_bottom .col-lg-4:last-child .hero_bottom_content {
  padding-right: 0;
  border-right: none;
}

.hero_bottom_content .icon-box {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: var(--dividerColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
}

.hero_bottom_content .icon-box::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.hero_bottom_content .icon-box img {
  max-width: 34px;
  position: relative;
  z-index: 1;
}

.hero_bottom_content:hover .icon-box::before {
  transform: scale(1);
}

.hero_bottom_content .hero_bottom_text {
  width: calc(100% - 84px);
}

.hero_bottom_content .hero_bottom_text h3 {
  color: var(--textWhite);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero_bottom_content .hero_bottom_text p {
  color: var(--textWhite);
  margin: 0;
}

.hero_bottom_content:hover .icon-box::before {
  transform: scale(1);
}

/* .hero_bottom_text h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.625;
} */
/* .hero_bottom_text p {
  margin: 0;
} */

/* Hero css end */

/* About us css start */
.about_us {
  padding: 100px 0 50px;
  background: url(../images/about-us-bg.svg) no-repeat;
  background-position: right -100px center;
  background-size: auto;
}
.about_us_image {
  position: relative;
}
.about_img img {
  border-radius: 30px;
}

.company_experience {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
  box-shadow: 0px 0px 24px 0px #00000012;
  border-radius: 20px;
  padding: 15px 20px;
  animation: expmoveobject 3s infinite linear alternate;
}

@keyframes expmoveobject {
  50% {
    right: 80px;
  }
}

.company_experience .icon-box {
  margin-right: 10px;
}

.company_experience .icon-box img {
  max-width: 52px;
}

.company_experience_content {
  width: calc(100% - 62px);
  text-align: left;
}

.company_experience_content h3 {
  color: var(--textPrimary);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

.company_experience_content p {
  color: var(--textPrimary);
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}

/* .about_content .section_title {
  margin-bottom: 30px;
} */

.about_us_body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--darkDividerColor);
}

.about_list_item {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
}

.about_list_item .icon-box {
  margin-right: 10px;
}

.about_list_item .icon-box img {
  width: 34px;
}

.about_list_content {
  width: calc(100% - 44px);
}

.about_list_content h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--textPrimary);
}

/* about us footer */
.about_us_footer {
  display: flex;
  flex-wrap: wrap;
}

.doctor_info,
.appointment_btn {
  width: 50%;
}

.doctor_info_item {
  display: flex;
  align-items: center;
}

.doctor_info_item .image-box {
  margin-right: 10px;
}

.appointment_btn {
  text-align: right;
}

.doctor_info_item .image-box img {
  max-width: 3rem;
  border-radius: 100%;
}

.doctor_info_item .doctor_info_content {
  width: calc(100% - 58px);
}
.doctor_info_item .doctor_info_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.doctor_info_item .doctor_info_content p {
  color: var(--textPrimary);
  opacity: 50%;
  margin: 0;
}

/* about us css end */

/* gallery carousel css start */
.gallery_carousel {
  padding: 3.125rem 0;
}

.gallery_carousel_box {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 10px;
}

.gallery_scrolling_content {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  min-width: 100%;
  animation: galleryscroll 20s linear infinite;
}
@keyframes galleryscroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 10px));
  }
}

.gallery_scrolling_content .gallery_image img {
  border-radius: 1.875rem;
}

.gallery_carousel_box
  .gallery_scrolling_content
  .gallery_image:nth-child(even) {
  padding-top: 4.688rem;
}

.gallery_image {
  position: relative;
  overflow: hidden;
}

.gallery_image:hover::before {
  animation: effect_shine 1s;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}

.gallery_image::before {
  position: absolute;
  content: "";
  top: 0;
  left: -150%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-45deg);
}
/* gallery carousel css end */

/* service css start  */
.our_services {
  padding: 3.125rem 0 4.375rem;
}

.section_row {
  margin-bottom: 3.75rem;
}

.section_btn {
  text-align: end;
}

/* service item */
.service_item {
  border: 1px solid var(--darkDividerColor);
  border-radius: 1.875rem;
  height: calc(100% - 1.875rem);
  margin-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
}

.service_item::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0px;
  background-color: var(--bgSecondary);
  transition: all 0.4s ease-in-out;
  height: 100%;
  z-index: -1;
}

.service_item:hover::before {
  top: 0;
}

.service_item .icon_box {
  width: 3.25rem;
  height: 3.25rem;
  background-color: var(--bgTertiary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.service_item .icon_box::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0px;
  background-color: var(--bg-white);
  transition: all 0.5s ease-in-out;
  height: 100%;
}

.service_item:hover .icon_box::before {
  top: 0;
}

.service_item .icon_box img {
  position: relative;
  max-width: 1.875rem;
  z-index: 1;
}

.service_item .service_body {
  margin-bottom: 1.25rem;
}
.service_item .service_body h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  color: var(--textPrimary);
  transition: all 0.5s ease-in-out;
}

.service_item:hover .service_body h3 {
  color: var(--textWhite);
}
.service_item .service_body p {
  color: var(--textPrimary);
  margin: 0;
  line-height: 1.7rem;
  /* color: rgb(85, 85, 85); */
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.service_item:hover .service_body p {
  color: var(--textWhite);
}

.service_item .service_footer {
}

.service_item .service_footer a {
  background-color: var(--bgPrimary);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.service_item .service_footer a:hover {
  background-color: #153c33b3;
}

.service_item .service_footer img {
  width: 20px;
}

.service_cta_item {
  padding: 2.5rem 6.25rem;
  text-align: center;
}

.service_cta_item .icon_box {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.service_item .service_cta_item .service_body p {
  width: 80%;
  margin: 0 auto;
}

.service_cta_item:hover .service-cta-btn .btn_default::after {
  width: 100%;
}

.service_cta_item:hover .service-cta-btn .btn_default::before {
  background-color: var(--bgSecondary);
}
/* service end */

/* solution your plan start */
.solution_your_plan {
  padding: 100px 0;
  background-color: var(--bgTertiary);
}

.solution_plan_image {
  display: flex;
  align-items: start;
  justify-content: end;
  position: relative;
  /* gap: 10px; */
}

.solution_plan_img_1 {
  margin-right: 1rem;
}

.solution_plan_img_1 figure,
.solution_plan_img_2 figure {
  display: block;
}
.solution_plan_img_1 img,
.solution_plan_img_2 img {
  border-radius: 1.875rem;
}

.solution_plan_img_1 figure:after,
.solution_plan_img_2 figure:after {
  width: 250%;
}

.solution_plan_content {
  margin-left: 1.25rem;
}
.solution_plan_content .section_title {
  margin-bottom: 1.875rem;
}
.solution_plan_content .section_title h3 {
  background-color: var(--bg-white);
}
.solution_plan_content .section_title p {
  margin-top: 1.875rem;
  margin-bottom: 0;
  opacity: 0.5;
  color: var(--textPrimary);
}

/* solltion plan body */

.solution_plan_body {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--darkDividerColor);
}

.solution_plan_body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.solution_plan_body ul li {
  position: relative;
  color: var(--textPrimary);
  padding-left: 1.875rem;
  margin-bottom: 0.625rem;
}

.solution_plan_body ul li::before {
  position: absolute;
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.125rem;
  color: var(--textPrimary);
  display: inline-block;
  line-height: normal;
  top: 4px;
  left: 0;
}

/* solution counter */
.solution_counter_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_counter_item .icon_box {
  margin-right: 0.625rem;
}

.solution_counter_item .icon_box img {
  max-width: 3rem;
}

.solution_counter_item .solution_counter_content {
  width: calc(100% - 3.625rem);
}

.solution_counter_item .solution_counter_content h3 {
  margin: 0;
  color: var(--textPrimary);
  font-size: 1.375rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.solution_counter_item .solution_counter_content p {
  margin: 0;
  text-transform: capitalize;
  color: var(--textPrimary);
  line-height: 1.7rem;
}
/* solution your plan css end */

/* why choose us css start */
.why_choose_us {
  padding: 6.25rem 0;
}

.why_choose_us .why_choose_us_box {
  position: relative;
  margin-top: 30px;
}

.row.no-gutters > * {
  padding-right: 0px;
  padding-left: 0px;
}

.why_choose_us .section_row {
  margin-bottom: 60px;
}

.why_choose_us .section_title {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.why_choose_us .why_choose_box_1 {
  background-color: var(--bgTertiary);
  border-radius: 1.875rem 0 0 1.875rem;
}

.why_choose_us .why_choose_item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--darkDividerColor);
  padding: 40px;
}

/* .why_choose_us_box .why_choose_item{
  border-bottom: 2px solid var(--darkDividerColor);
  display: flex;
  align-items: center;
  padding: 40px;
} */

.why_choose_item .icon-box {
  background-color: var(--bg-white);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.why_choose_item .icon-box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  background-color: var(--bgPrimary);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.why_choose_item .icon-box img {
  position: relative;
  max-width: 30px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.why_choose_item:hover .icon-box::before {
  transform: scale(1);
}
.why_choose_item:hover .icon-box img {
  filter: brightness(0) invert(1);
}

.why_choose_item:last-child {
  border-bottom: none;
}

.why_choose_content {
  position: relative;
  width: calc(100% - 72px);
  max-width: 300px;
  z-index: 1;
}

.why_choose_content h3 {
  color: var(--bgPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.why_choose_content p {
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--textPrimary);
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.why_choose_box_2 {
  background-color: var(--bgPrimary);
  border-radius: 0 30px 30px 0;
}

.why_choose_box_2 .why_choose_item {
  border-color: var(--dividerColor);
  flex-direction: row-reverse;
  text-align: right;
}

.why_choose_box_2 .why_choose_item .icon-box {
  margin-right: 0;
  margin-left: 20px;
}

.why_choose_box_2 .why_choose_item .icon-box::before {
  background-color: var(--bgTertiary);
}

.why_choose_box_2 .why_choose_item:hover .icon-box img {
  filter: brightness(1) invert(0);
}

.why_choose_box_2 .why_choose_content h3 {
  color: var(--textWhite);
}

.why_choose_box_2 .why_choose_content p {
  color: var(--textWhite);
  opacity: 0.7;
  font-weight: 300;
}

.why_choose_image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* why choose us end */

/* need attention start */
.need_attention {
  padding: 100px 0;
  background-image: url("/assets/images/need-attention-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  position: relative;
}

.need_attention::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--bgPrimary);
  opacity: 90%;
  z-index: 0;
}

.need_attention .container-fluid {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  z-index: 1;
}
.need_attention .section_row .section_title {
  margin-bottom: 0;
}

.need_attention .section_title {
  text-align: center;
}

.need_attention .section_title h2 {
  color: var(--textWhite);
}

.need_attention .section_title p {
  color: var(--textWhite);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.7rem;
}

/* need attention list css */

.need_attention_list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid var(--dividerColor);
}

.need_attention_list .col-lg-4:nth-last-child(-n + 3) .need_attention_list {
  margin-bottom: 0;
  padding: 0 10px 0 10px;
  border-bottom: none;
}

.need_attention_list .icon_box {
  margin-right: 20px;
}

.need_attention_list .icon_box img {
  width: 100%;
  max-width: 2rem;
}

.need_attention_list .need_attention_content {
  width: calc(100% - 52px);
}

.need_attention_list .need_attention_content p {
  font-size: 18px;
  font-weight: 500;
  color: var(--textWhite);
  text-transform: capitalize;
  margin: 0;
}
/* need attention end */

/* our team css start */
.our_team {
  padding: 100px 0 70px;
}

.our_team .section_row .section_title {
  margin-bottom: 0;
  align-items: start;
}

/* .our_team .section_row .section_title h2 {
  width: 100%;
  max-width: 90%;
} */

.team_member_item {
  height: calc(100% - 30px);
  margin-bottom: 30px;
}

.team_image {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 20px;
}

.team_image img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.team_member_item:hover .team_image img {
  transform: scale(1.1);
}

.team_content {
  text-align: center;
}

.team_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.team_content p {
  text-transform: capitalize;
  margin: 0;
  color: var(--textPrimary);
  opacity: 0.7;
}

.team_social_icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: translateY(100%);
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.team_member_item:hover .team_social_icon {
  bottom: 20px;
  transform: translateY(0);
}

.team_social_icon ul {
  display: inline-block;
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 14px 28px;
  background: var(--bg-white);
  border-radius: 20px;
}

.team_social_icon ul li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.team_social_icon ul li a {
  display: block;
}

.team_social_icon ul li a i {
  color: var(--accent-color);
  font-size: 22px;
  transition: var(--transition300);
}

.team_social_icon ul li a:hover i {
  color: var(--textPrimary);
}
/* our team end */

/* our testimonial start */
.our_testimonial {
  padding: 100px 0 50px;
  background: var(--bgTertiary) url(../images/testimonial-bg.svg) no-repeat
    center center;
  background-attachment: fixed;
  background-position: center 0;
}

.our_testimonial .section_title {
  text-align: center;
}

.our_testimonial .section_row .section_title {
  margin-bottom: 0;
}

.our_testimonial .section_title h3 {
  background: var(--bg-white);
}

/* testimonial slider start */

.our_testimonial .swiper-wrapper {
  cursor: none;
}
.testimonial_item {
  background: var(--bg-white);
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  padding: 40px;
}

.testimonial_item .testimonial_header {
  margin-bottom: 40px;
}

.testimonial_header .testimonial_rating {
  margin-bottom: 20px;
}

.testimonial_header .testimonial_rating i {
  font-size: 1rem;
  color: #f5a200;
  margin-right: 5px;
}

.testimonial_header .testimonial_content p {
  color: var(--textPrimary);
  opacity: 0.7;
  margin: 0;
}

.testimonial_body {
  display: flex;
  align-items: center;
}

.testimonial_body .author_image {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.testimonial_body .author_image img {
  width: 56px;
  height: 56px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial_body .author_content {
  width: calc(100% - 66px);
}

.testimonial_body .author_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.testimonial_body .author_content p {
  color: var(--textPrimary);
  opacity: 0.7;
  text-transform: capitalize;
  margin: 0;
}

.testimonial-slider .swiper-pagination {
  position: relative;
  text-align: center;
  bottom: 0px;
  margin-top: 60px;
}

.testimonial-slider .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 1;
  margin: 0px 6px;
}

.testimonial-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--bgPrimary);
  opacity: 1;
}
/* testimonial slider end */
/* our testimonial end */

.our_blog {
  padding: 100px 0 70px;
}

.blog_item {
  height: calc(100% - 30px);
  margin-bottom: 30px;
}

.post_featured_image {
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 30px;
}

.post_featured_image a {
  display: block;
  cursor: none;
}

.post_featured_image img {
  aspect-ratio: 1/0.65;
  object-fit: cover;
  border-radius: 30px;
  transition: all 0.5s ease-out;
}

.blog_item:hover .post_featured_image img {
  transform: scale(1.1);
}

.post_item_body {
  margin-bottom: 20px;
}

.post_item_body h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4rem;
  color: var(--textPrimary);
}

.post_item_body h2 a {
  color: inherit;
}

.post_item_footer .readmore_btn {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--accent-color);
  padding-right: 30px;
  transition: 0.3s ease-in-out;
}

.post_item_footer .readmore_btn::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  background-image: url("../images/readmore-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  transition: 0.3s ease-in-out;
}
/* our blog end */

/* scrolling ticker start */
.our_scrolling_ticker {
  background-color: var(--bgTertiary);
  padding: 30px 0;
}

.scrolling_ticker_box {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 40px;
  align-items: center;
}

.scrolling_content {
  flex-shrink: 0;
  display: flex;
  gap: 40px;
  min-width: 100%;
  animation: scroll 24s linear infinite;
}

.scrolling_content span {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: var(--textPrimary);
  vertical-align: middle;
}

.scrolling_content span img {
  width: 100%;
  max-width: 30px;
  margin-right: 40px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 40px));
  }
}
/* scrolling ticker end */

/* main footer start */
.main_footer {
  padding: 100px 0 0;
  background: var(--bgPrimary);
}

.footer_logo {
  margin-bottom: 30px;
}

.footer_logo img {
  max-width: 250px;
}

.about_footer_content {
  margin-bottom: 30px;
}

.about_footer_content p {
  color: var(--textWhite);
  margin: 0;
}

.footer_social_links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_social_links ul li {
  display: inline-flex;
  margin-right: 20px;
}

.footer_social_links ul li:last-child {
  margin-right: 0;
}

.footer_social_links ul li a i {
  color: var(--textWhite);
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.footer_social_links ul li:hover a i {
  color: var(--accent-color);
}

.about_working_hour h3,
.about_service_list h3,
.footer_contact h3 {
  color: var(--accent-color);
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about_working_hour {
  margin-left: 55px;
}

.about_working_hour ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about_working_hour ul li {
  color: var(--textWhite);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about_working_hour ul li:last-child {
  margin-bottom: 0;
}

.about_service_list {
  margin-left: 55px;
}

.about_service_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about_service_list ul li {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about_service_list ul li:last-child {
  margin-bottom: 0;
}

.about_service_list ul li a {
  color: var(--textWhite);
  transition: all 0.3s ease-in-out;
}

.about_service_list ul li:hover a {
  color: var(--accent-color);
}

.footer_contact_details .footer_info_box {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}

.footer_contact_details .footer_info_box:last-child {
  margin-bottom: 0;
}

.footer_info_box .icon-box {
  position: absolute;
  top: -2px;
  left: 0;
}

.footer_info_box .icon-box img {
  max-width: 20px;
}

.footer_info_box_content p {
  color: var(--textWhite);
  margin-bottom: 0;
}

.footer_copyright {
  border-top: 1px solid var(--dividerColor);
  padding: 40px 0;
  margin-top: 40px;
}

.footer_copyright_text p {
  color: var(--textWhite);
  margin: 0;
}

.footer_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: end;
}

.footer_links ul li {
  display: inline-block;
  margin-right: 40px;
}

.footer_links ul li:last-child {
  margin-right: 0;
}

.footer_links ul li a {
  color: var(--textWhite);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.footer_links ul li:hover a {
  color: var(--accent-color);
}

/* main footer end */

/* OTHERS PAGE CSS START */
/* common css */
.page_header {
  padding: 100px 0;
  background-color: var(--bgTertiary);
}
.page_header_box h1 {
  color: var(--textPrimary);
  font-size: 57px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.page_header_box ol {
  margin: 0;
  padding: 0;
  justify-content: center;
}
.page_header_box ol li.breadcrumb-item {
  color: var(--textPrimary);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.page_header_box ol li.breadcrumb-item a {
  color: inherit;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/");
}
/* about us page css start */

/* page title start */
.page_about_us {
  padding: 100px 0;
}

/* company counter css start */
.company_conter {
  padding: 40px 0;
  background-color: var(--bgPrimary);
}
.company_counter_item {
  display: flex;
  align-items: center;
}

.company_counter_item .icon-box {
  margin-right: 10px;
}

.company_counter_item .icon-box img {
  max-width: 64px;
}

.company_counter_item .company_counter_content {
  width: calc(100% - 74px);
}

.company_counter_item .company_counter_content h3 {
  color: var(--textWhite);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.company_counter_item .company_counter_content p {
  color: var(--textWhite);
  opacity: 0.7;
  text-transform: capitalize;
  margin: 0;
}

/* mission vission css start */
.mission_vision {
  padding: 100px 0;
  position: relative;
}

.mission_vision::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--bg-white);
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mission_vision .section_title {
  position: relative;
  text-align: center;
  z-index: 1;
}

.our_mva_item {
  position: relative;
  background: var(--bg-white);
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  height: calc(100% - 30px);
  margin-bottom: 30px;
  padding: 30px;
  overflow: hidden;
  z-index: 1;
}

.our_mva_item::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.our_mva_item .icon-box {
  position: relative;
  background-color: var(--bgTertiary);
  border-radius: 10px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

.our_mva_item .icon-box::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0px;
  background-color: var(--bg-white);
  transition: all 0.5s ease-in-out;
  height: 100%;
}

.our_mva_item .icon-box img {
  position: relative;
  max-width: 30px;
  z-index: 1;
}

.our_mva_item .mva_item_content {
  position: relative;
  z-index: 1;
}

.our_mva_item .mva_item_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.our_mva_item .mva_item_content p {
  margin-bottom: 0;
  line-height: 1.7rem;
  color: var(--textPrimary);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.our_mva_item:hover::before {
  top: 0;
}

.our_mva_item:hover .icon-box::before {
  top: 0;
}

.our_mva_item:hover .mva_item_content h3 {
  color: var(--textWhite);
}

.our_mva_item:hover .mva_item_content p {
  color: var(--textWhite);
  opacity: inherit;
}

.cta_infobar {
  position: relative;
  background: var(--bg-white);
  padding: 40px;
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  z-index: 1;
}
.cta_info_content {
  display: flex;
}

.cta_info_content .icon-box {
  background: var(--bgTertiary);
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.cta_info_content .icon-box img {
  max-width: 30px;
}

.cta_info_content .cta_content {
  width: calc(100% - 68px);
}

.cta_info_content .cta_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.cta_info_content .cta_content p {
  color: var(--textPrimary);
  opacity: 0.7;
  margin: 0;
}

.cta_appointment_btn {
  text-align: right;
}

/* quality treatment css start */
.quality_treatment {
  background-color: var(--bgTertiary);
  padding: 100px 0;
}

.quality_treatment_video {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  cursor: none;
  z-index: 1;
}
.quality_treatment_video .video_image img {
  width: 100%;
  aspect-ratio: 1 / 0.88;
  object-fit: cover;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.quality_treatment_video:hover .video_image img {
  transform: scale(1.1);
}

.quality_treatment_video .video_image a {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.video_play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video_play_button a {
  position: relative;
  background-color: var(--textWhite);
  width: 86px;
  height: 86px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video_play_button a::before {
  position: absolute;
  content: "";
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  border: 50px solid var(--bg-white);
  border-radius: 50%;
  transform: scale(0.6);
  z-index: -1;
  animation: border_zooming 1.2s infinite linear;
}

.video_play_button a::after {
  position: absolute;
  content: "";
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  border: 50px solid var(--bg-white);
  border-radius: 50%;
  transform: scale(0.6);
  z-index: -1;
  animation: border_zooming 1.2s infinite linear;
  animation-delay: 0.3s;
}

@keyframes border_zooming {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.video_play_button a i {
  font-size: 36px;
  color: var(--bgSecondary);
}

.quality_treatment_content {
  padding-left: 20px;
}

.quality_treatment_content .section_title h3 {
  background: var(--bg-white);
}
.quality_treatment_content .section_title p {
  /* font-size: 14px; */
  opacity: 0.7;
  font-weight: 300;
}

.quality_treatment_body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quality_treatment_body ul li {
  position: relative;
  color: var(--textPrimary);
  text-transform: capitalize;
  padding-left: 30px;
  margin-bottom: 20px;
}

.quality_treatment_body ul li::before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  color: var(--textPrimary);
  display: inline-block;
  line-height: normal;
  position: absolute;
  top: 4px;
  left: 0;
}
/* quality treatment css end */

/* therapy process css start */
.therapy_process {
  padding: 100px 0 70px;
}

.therapy_process .section_title {
  text-align: center;
}

.therapy_process_item {
  text-align: center;
  height: calc(100% - 30px);
  margin-bottom: 30px;
}

.therapy_process_item .icon-box {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.therapy_process_item .icon-box img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

.therapy_process_item .therapy_process_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4rem;
  text-transform: capitalize;
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.therapy_process_item .therapy_process_content p {
  color: var(--textPrimary);
  opacity: 0.7;
  margin: 0;
}

.therapy_process
  .col-lg-3:nth-child(odd)
  .therapy_process_item
  .icon-box::before {
  position: absolute;
  content: "";
  display: block;
  background: url(../images/icon-right-up-arrow.svg) no-repeat right center;
  top: 50%;
  right: 0;
  width: 135px;
  height: 23px;
  background-size: 100% auto;
  transform: translate(175px, -50%);
  z-index: 2;
}

.therapy_process
  .col-lg-3:nth-child(even)
  .therapy_process_item
  .icon-box::before {
  position: absolute;
  content: "";
  display: block;
  background: url(../images/icon-right-up-arrow.svg) no-repeat right center;
  top: 50%;
  right: 0;
  width: 135px;
  height: 23px;
  background-size: 100% auto;
  transform: translate(175px, -50%);
  z-index: 2;
}

.therapy_process
  .col-lg-3:nth-child(even):last-child
  .therapy_process_item
  .icon-box::before {
  display: none;
}
/* about us page css end */

/* service page css start */
.page_services {
  padding: 100px 0;
}
/* service page css end */

/* contact page css start */
.contact_page {
  padding: 100px 0 20px;
}

.contact_info_item {
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  padding: 30px;
  height: calc(100% - 30px);
  margin-bottom: 30px;
}

.contact_info_item .icon-box {
  background: var(--bgTertiary);
  border-radius: 10px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact_info_item .icon-box img {
  max-width: 30px;
}

.contact_info_content h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.contact_info_content p {
  margin: 0;
  color: var(--textPrimary);
}

.contact_us_form {
  padding: 50px 0 100px;
}

.contact_us_img img {
  border-radius: 30px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.contact_form {
  margin-left: 25px;
}

.contact_form .form-control {
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid var(--darkDividerColor);
  border-radius: 10px;
  color: var(--textPrimary);
  box-shadow: none;
}

.help-block.with-errors ul {
  margin: 0;
  text-align: left;
}

.help-block.with-errors ul li {
  color: var(--error-color);
  font-weight: 500;
  font-size: 14px;
}

textarea .form-control {
  min-height: calc(1.5rem + 75rem + calc(1px * 2));
}

.google_map_iframe {
  width: 100%;
  height: 730px;
}
.google_map_iframe iframe {
  width: 100%;
  height: 730px;
}
/* contact page css end */

/* single service page css start */

.single_service_page {
  padding: 100px 0;
}

.service_featured_img {
  margin-bottom: 30px;
}

.service_featured_img img {
  border-radius: 30px;
  aspect-ratio: 1 / 0.57;
  object-fit: cover;
}

.service_entry h3 {
  color: var(--textPrimary);
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.service_entry p {
  color: var(--textPrimary);
  line-height: 1.7rem;
  margin-bottom: 30px;
}

.service_entry ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.service_entry ul li {
  position: relative;
  width: calc(50% - 10px);
  color: var(--textPrimary);
  text-transform: capitalize;
  padding-left: 35px;
}

.service_entry ul li::before {
  position: absolute;
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  color: var(--textPrimary);
  font-size: 18px;
  font-weight: 900;
  top: 0;
  left: 0;
}

.service_entry_image figure {
  display: block;
}

.service_entry_image img {
  border-radius: 30px;
  aspect-ratio: 1 / 0.68;
  object-fit: cover;
}

.service_sidebar {
  position: sticky;
  top: 20px;
  margin-left: 10px;
}

.service_category_list,
.sidebar_cta_box {
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  padding: 30px;
}

.service_category_list,
.opening_hour_section {
  margin-bottom: 40px;
}

.service_category_list h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
  line-height: 1rem;
}

.service_category_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service_category_list ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
}
.service_category_list ul li a {
  font-size: 18px;
  font-weight: 500;
  color: var(--textPrimary);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.service_category_list ul li::before {
  position: absolute;
  content: "";
  background: url(../images/arrow-white.svg) no-repeat center center;
  background-color: var(--bgPrimary);
  inset: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-size: 12px auto;
  transition: all 0.3s ease-in-out;
}

.service_category_list ul li:hover::before {
  background-color: var(--bgSecondary);
}

.service_category_list ul li:hover a {
  color: var(--textSecondary);
}

.opening_hour_section {
  border: 2px solid var(--darkDividerColor);
  border-radius: 30px;
  padding: 30px;
}

.opening_hour_section h3 {
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.opening_hour_section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.opening_hour_section ul li {
  color: var(--textPrimary);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.sidebar_cta_box {
  text-align: center;
}

.sidebar_cta_box .icon-box {
  background: var(--bgTertiary);
  border-radius: 10px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sidebar_cta_box .icon-box img {
  max-width: 30px;
}

.sidebar_cta_box .cta_content {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar_cta_box .cta_content h3 {
  color: var(--textPrimary);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sidebar_cta_box .cta_content p {
  margin: 0;
  color: var(--textPrimary);
}

.sidebar_cta_box .cta_appointment_btn {
  text-align: center;
}
/* single service page css end */

/* blog page css start */
.blog_page {
  padding: 100px 0;
}

.blog_page .blog_item {
  height: calc(100% - 40px);
}

.post_pagination {
  margin-top: 30px;
  text-align: center;
}

.post_pagination ul {
  justify-content: center;
  padding: 0;
  margin: 0;
}

.post_pagination ul li a,
.post_pagination ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--bgTertiary);
  color: var(--textPrimary);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0 5px;
  font-weight: 700;
  line-height: 1rem;
  transition: var(--transition300);
}

.post_pagination ul li.active a,
.post_pagination ul li a:hover {
  background: var(--bgPrimary);
  color: var(--textWhite);
}
/* blog page css end */

/* single blog page css start */

.single_post_page {
  padding: 100px 0;
}

.single_post_meta ol li i {
  font-size: 18px;
  color: var(--accent-color);
  margin-right: 5px;
}
.single_post_meta ol li.breadcrumb-item {
  font-size: 18px;
}

.post_image {
  position: relative;
  margin-bottom: 30px;
}

.post_image figure,
.post_image img {
  border-radius: 30px;
  aspect-ratio: 1 / 0.5;
  object-fit: cover;
}

.post_content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.post_entry {
  border-bottom: 1px solid var(--darkDividerColor);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.post_entry h2 {
  color: var(--textPrimary);
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.6em;
  /* margin: 0; */
}

.post_entry p {
  margin-bottom: 20px;
  color: var(--textPrimary);
  opacity: 0.7;
}

.post_entry ul {
  padding: 0;
  margin: 20px 0px 20px;
  padding-left: 20px;
}

.post_entry ul li {
  color: var(--textPrimary);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  margin-bottom: 18px;
}

.post_entry blockquote {
  background: var(--bgTertiary) url(../images/icon-blockquote.svg) no-repeat
    35px 40px;
  background-size: 45px;
  border-radius: 30px;
  padding: 30px 30px 30px 100px;
  margin-bottom: 30px;
}

.post_entry blockquote p {
  color: var(--textPrimary);
  font-size: 22px;
  font-weight: 600;
  opacity: 1;
  line-height: 1.7rem;
}

.post_entry blockquote p:last-child {
  margin-bottom: 0;
}

.tag_links {
  font-size: 22px;
  font-weight: 600;
  color: var(--textPrimary);
  display: inline-block;
}

.post_tags .tag_links a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--accent-color);
  color: var(--textWhite);
  border-radius: 10px;
  padding: 8px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: var(--transition300);
}

.post_tags .tag_links a:hover {
  background: var(--bgPrimary);
}

.post_social_sharing {
  text-align: right;
}

.post_social_sharing ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post_social_sharing ul li {
  display: inline-block;
  margin-right: 10px;
}

.post_social_sharing ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--textWhite);
  border-radius: 10px;
  width: 38px;
  height: 38px;
  transition: var(--transition300);
}

.post_social_sharing ul li a i {
  font-size: 18px;
  color: inherit;
  transition: var(--transition300);
}

.post_social_sharing ul li:hover a{
  background-color: var(--bgPrimary);
}
/* single blog page css end  */

/* Our therapist page css start */
.team_page{
  padding: 100px 0;
}

.team_page .team_member_item{
  height: calc(100% - 40px);
    margin-bottom: 40px;
}
/* Our therapist page css end */

/* OTHERS PAGE CSS END */
