/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .section_title {
    margin-bottom: 20px;
  }

  .section_row {
    margin-bottom: 40px;
  }

  .section_btn {
    text-align: left;
    margin-top: 20px;
  }

  /* header css start */
  .header_area .my_navbar .navbar-nav {
    background-color: var(--bgPrimary);
    width: 100%;
    padding: 1rem 0;
    border-radius: 5px;
  }

  .header_area .my_navbar .nav-item {
    width: 100%;
  }

  .header_area .my_navbar .nav-link {
    color: var(--textWhite);
    font-weight: normal;
    padding: 0.5rem 2rem;
    width: 50%;
    border-radius: 5px;
  }

  .header_area .my_navbar .nav-link:hover {
    background-color: var(--accent-color);
    transform: translateX(5px);
  }

  /* header css end */

  /* Hero css start */
  .hero_img {
    text-align: center;
  }
  .hero_img img {
    max-width: 70%;
  }

  /* hero bottom css */
  .hero_bottom {
    padding: 40px 0 10px;
  }

  .hero_bottom .hero_bottom_content {
    height: calc(100% -30px);
    margin-bottom: 30px;
  }

  .hero_bottom .col-lg-4:nth-child(even) .hero_bottom_content {
    border: none;
  }

  /* export doctor box css */
  .export_doctor_box {
    transform: translateY(-60px);
    padding: 12px;
  }
  .solution_plan_content {
    margin-left: 0;
  }

  /* Hero css end */

  /* Solution css start */
  .solution_plan_content .section_title {
    text-align: left;
  }

  .solution_plan_image {
    justify-content: center;
    margin-bottom: 30px;
  }
  /* Solution css end */

  /* about us css */
  .about_us {
    padding: 50px 0 25px;
  }

  .about_img {
    text-align: center;
    margin-bottom: 30px;
  }

  .company_experience {
    right: 40px;
    padding: 10px 15px;
  }

  /* gallery css start */
  .gallery_carousel {
    padding: 25px 0;
  }
  /* gallery css end */

  /* our cervice css start */
  .our_services {
    padding: 25px 0 20px;
  }

  .service_item {
    padding: 20px;
  }
  /* our cervice css end */

  /* our plan css start */
  .solution_your_plan {
    padding: 50px 0;
  }
  /* our plan css end */

  /* why choose us css start */
  .why_choose_us {
    padding: 50px 0;
  }

  .why_choose_us .why_choose_box_1 {
    border-radius: 30px 30px 0 0px;
  }

  .why_choose_us .why_choose_box_2 {
    border-radius: 0 0 30px 30px;
  }

  .why_choose_us .why_choose_image {
    display: none;
  }
  /* why choose us css end */

  /* need attention css start */
  .need_attention_list .need_attention_content p {
    font-size: 16px;
  }
  /* need attention css end */

  /* our team css start */
  .our_team {
    padding: 50px 0 20px;
  }
  /* our team css end */

  /* client testimonial css start */
  .our_testimonial {
    padding: 50px 0 25px;
  }
  /* client testimonial css end */

  /* our blog css start */
  .our_blog {
    padding: 50px 0 25px;
  }
  .post_featured_image {
    margin-bottom: 20px;
  }

  .post_item_body h2 {
    font-size: 18px;
  }
  /* our blog css end */

  /* footer css start */
  .main_footer {
    padding: 50px 0 0;
  }
  .about_footer {
    margin-bottom: 30px;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .about_footer_content {
    margin-bottom: 20px;
  }

  .about_working_hour,
  .about_service_list {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .about_working_hour h3,
  .about_service_list h3,
  .footer_contact h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer_contact_details .footer_info_box {
    margin-bottom: 20px;
  }

  .footer_copyright {
    padding: 30px 0;
    margin-top: 30px;
  }
  /* footer css end */
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .btn_default {
    padding: 15px 55px 15px 15px;
  }

  .section_title {
    text-align: center;
    margin-bottom: 20px;
  }

  .section_btn {
    text-align: center;
    margin-top: 20px;
  }

  .section_title p {
    margin-top: 20px;
  }

  .section_row {
    margin-bottom: 30px;
  }

  /* Hero css start */
  .hero_area .section_title {
    text-align: start;
  }

  .hero_bottom .hero_bottom_content {
    padding-right: 0;
    border: none;
  }

  .hero_bottom_content .hero_bottom_text h3 {
    font-size: 18px;
  }

  /* about us css start */

  .about_us .section_title {
    text-align: start;
  }
  .about_us_body {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .about_list_content h3 {
    font-size: 16px;
  }

  .doctor_info,
  .appointment_btn {
    width: 100%;
  }

  .appointment_btn {
    margin-top: 20px;
    text-align: left;
  }

  .company_experience_content {
    width: calc(100% - 52px);
    text-align: left;
  }

  .company_experience_content h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  /* our service start */
  .our_services .section_row {
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  /* our soltion css start */
  .solution_plan_image {
    margin-bottom: 20px;
  }

  .solution_plan_content .section_title {
    text-align: left;
    margin-bottom: 20px;
  }

  .solution_plan_content .section_title p {
    margin-top: 20px;
  }

  .solution_plan_body {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .solution_counter_item {
    margin-bottom: 20px;
  }
  /* our soltion css end */

  /* why choose us css start */
  .why_choose_us .why_choose_item {
    padding: 20px 15px;
  }
  /* why choose us css end */

  /* need attention css start */
  .need_attention {
    padding: 50px 0 30px;
  }

  .need_attention .need_attention_list .icon_box {
    margin-right: 10px;
  }

  .need_attention .col-lg-4:nth-last-child(-n + 3) .need_attention_list,
  .need_attention .col-lg-4 .need_attention_list {
    margin-bottom: 20px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid var(--dividerColor);
  }

  /* need attention css end */

  /* our team css start */
  /* our team css end */

  /* our blog css start */

  /* our blog css end */

  /* footer css start */
  .footer_contact_details .footer_info_box {
    margin-bottom: 15px;
  }

  .about_working_hour,
  .about_service_list {
    margin-bottom: 30px;
  }

  .about_working_hour ul li {
    margin-bottom: 15px;
  }

  .about_service_list ul li {
    margin-bottom: 15px;
  }

  .footer_copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
  }

  .footer_copyright_text {
    margin-bottom: 10px;
  }

  .footer_copyright_text p {
    font-size: 14px;
  }

  .footer_links ul {
    text-align: center;
  }
}
/* footer css end */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .my_navbar .navbar-brand {
    width: 70%;
  }
  .my_navbar .navbar-brand img {
    width: 90%;
  }

  .hero_btn {
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
  }
  .service_cta_item {
    padding: 1.25rem;
    text-align: center;
  }
}

/* OTHER PAGE RESPONSIVE CSS START */
/*  aboutus page css start*/
@media (max-width: 991.98px) {
  .page_header {
    padding: 50px 0;
  }

  .page_header_box h1 {
    font-size: 44px;
    margin-bottom: 15px;
  }

  /* about us page css start */
  .page_about_us {
    padding: 50px 0;
  }

  /* company counter css start */
  .company_conter {
    padding: 30px 0 0;
  }
  .company_counter_item {
    height: calc(100% - 30px);
    margin-bottom: 30px;
  }

  /* mission & vission */

  .mission_vision {
    padding: 50px 0;
  }

  .our_mva_item {
    padding: 20px;
  }

  .cta_infobar {
    padding: 30px;
  }

  .cta_info_content {
    display: block;
    margin-bottom: 20px;
  }

  .cta_info_content .icon-box {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .cta_info_content .cta_content {
    width: 100%;
  }
  .cta_appointment_btn {
    text-align: left;
  }

  /* quality treatment content start */

  .quality_treatment {
    padding: 50px 0;
  }

  .quality_treatment_video {
    margin-bottom: 20px;
  }

  .quality_treatment_content {
    padding-left: 0;
  }

  /* therapy process css start */
  .therapy_process {
    padding: 50px 0 20px;
  }

  .therapy_process_item .icon-box {
    margin-bottom: 20px;
  }

  .therapy_process
    .col-lg-3:nth-child(odd)
    .therapy_process_item
    .icon-box::before {
    transform: translate(210px, -50%);
  }

  .therapy_process
    .col-lg-3:nth-child(even)
    .therapy_process_item
    .icon-box::before {
    display: none;
  }
  /* therapy process css end */
}

@media (max-width: 767.98px) {
  .therapy_process
    .col-lg-3:nth-child(odd)
    .therapy_process_item
    .icon-box::before {
    display: none;
  }
}
/*  aboutus page css end */

/* service page css start */
@media (max-width: 991.98px) {
  .page_services {
    padding: 50px 0;
  }
}
/* service page css end */

/* contact us page css start */
@media (max-width: 991.98px) {
  .contact_page {
    padding: 50px 0 0;
  }

  .contact_us_form {
    padding: 25px 0 50px;
  }

  .contact_us_img {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact_form {
    margin-left: 0;
  }
}
/* contact us page css end */

/* single service page css start  */

@media (max-width: 991.98px) {
  .single_service_page {
    padding: 50px 0;
  }

  .single_service_content {
    margin-bottom: 30px;
  }

  .service_featured_img {
    margin-bottom: 20px;
  }

  .service_entry h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .service_entry p {
    margin-bottom: 20px;
  }

  .service_entry ul {
    margin-bottom: 20px;
    gap: 15px;
  }

  .service_entry_image figure {
    display: block;
  }

  .service_sidebar {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .service_entry ul li {
    width: 100%;
  }
  .service_entry_img_1 {
    margin-bottom: 20px;
  }

  .service_category_list,
  .opening_hour_section {
    margin-bottom: 20px;
  }
}
/* single service page css end  */

/* blog page css start */
@media (max-width: 991.98px) {
  .blog_page {
    padding: 50px 0;
  }

  .post_pagination {
    margin-top: 10px;
  }
}
/* blog page css end */

/* single blog page css start */
@media (max-width: 991.98px) {
  .single_post_page {
    padding: 50px 0;
  }

  .post_image {
    margin-bottom: 20px;
  }

  .post_entry blockquote p {
    font-size: 18px;
  }

  .post_entry h2 {
    font-size: 30px;
  }

  .post_entry ul li {
    font-size: 16px;
  }

  .post_tags {
    margin-bottom: 10px;
  }

  .post_tags .tag_links a {
    font-size: 16px;
    padding: 8px 15px;
  }

  .post_social_sharing ul {
    text-align: left;
  }
}
@media (max-width: 767.98px) {
  .page_header_box h1 {
    font-size: 30px;
  }
}
/* single blog page css end */

/* therapists page css start */
@media (max-width: 991.98px) {
  .team_page {
    padding: 50px 0;
  }
}
/* therapists page css end */

/* single therapist page css start */
@media (max-width: 991.98px) {
  .single_team_page {
    padding: 50px 20px 25px 20px;
  }

  .single_team_page .row {
    border-radius: 40px 40px 30px 30px;
  }

  .team_member_image img {
    aspect-ratio: 1 / 0.85;
    border-radius: 30px 30px 0 0px;
  }

  .team_member_details {
    margin-left: 0;
    padding: 30px;
  }

  .member_detail_header {
    margin-bottom: 30px;
  }
  .member_detail_header h2 {
    font-size: 28px;
  }

  .member_detail_content {
    margin-bottom: 30px;
  }

  .member_detail_body {
    margin-bottom: 30px;
  }

  .about_member_details {
    padding: 25px 0 50px;
  }

  .about_member_info {
    padding: 30px;
  }

  .member_info_title {
    margin-bottom: 20px;
  }

  .member_info_title h2 {
    font-size: 28px;
  }

  .member_winning_awards {
    padding: 30px;
    margin-bottom: 30px;
  }
  .winning_awards_content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .team_member_skills {
    padding: 30px;
  }

  .team_member_skills .skills_progress_bar {
    margin-bottom: 35px;
  }

  .cta_infobar.team_sidebar_cta .cta_info_content {
    margin-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .team_member_details {
    padding: 20px;
  }

  .member_detail_header {
    margin-bottom: 20px;
  }

  .member_detail_header h2 {
    font-size: 24px;
  }

  .member_detail_content p {
    font-size: 16px;
  }

  .member_detail_body {
    margin-bottom: 20px;
  }

  .member_detail_body ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .member_detail_body ul li span {
    width: 45%;
    font-weight: 500;
  }
}
/* single therapist page css end */

/* testimonial page css start */
@media (max-width: 991.98px){

  .page_video_gallery{
    padding:50px 0 20px ;
  }
}
/* testimonial page css end */

/* faq page css start */

/* faq page css end */

/* OTHER PAGE RESPONSIVE CSS END */
