/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* variabls */
:root {
  --textPrimary: rgb(21, 60, 51);
  --textSecondary: rgb(97, 158, 144);
  --textWhite: #ffffff;

  --bg-white: #ffffff;
  --bgPrimary: rgb(21, 60, 51);
  --bgSecondary: rgb(97, 158, 144);
  --bgTertiary: #e6efed;

  --dividerColor: #ffffff26;
  --darkDividerColor: #153c331a;

  --transition300: all 0.3s ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Archivo", serif;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

/* common style */

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* custom class */
.btn_default {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1em;
  color: var(--textWhite);
  background: var(--bgSecondary);
  text-transform: capitalize;
  padding: 18px 55px 18px 20px;
  border-radius: 99px;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn_default::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--bgPrimary);
  background-image: url(../images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  transform: translate(-10px, -50%);
  transition: all 0.3s ease-in-out;
}
.btn_default::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-radius: 99px;
  background: var(--bgPrimary);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.btn_default:hover::before {
  background-color: var(--bgSecondary);
  transition: all 0.4s ease-in-out;
}
.btn_default:hover::after {
  width: 100%;
}

.btn_default.btn_highlighted {
  background-color: var(--bg-white);
  color: var(--textSecondary);
}
.btn_default.btn_highlighted:hover {
  color: var(--textWhite);
}

.header_btn::before {
  background-image: url(../images/icon-phone.svg);
}

.section_title h1,
.section_title h2 {
  font-size: clamp(1.5625rem, 1.0446rem + 2.5893vw, 3.375rem);
  /* line-height: 4rem; */
  font-weight: 700;
  color: var(--textPrimary);
}

.section_title h3 {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: capitalize;
  background-color: #e6efed;
  color: var(--textSecondary);
  border-radius: 99px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.section_title h1 span,
.section_title h2 span {
  color: var(--textSecondary);
}

.section_title p {
  font-size: 1.125rem;
  color: var(--textPrimary);
  margin-top: 1.875rem;
  margin-bottom: 0;
}

img,
svg {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* header css */
.my_navbar {
  background-color: #ffffff;
}
.my_navbar .nav-link {
  font-weight: 500;
  line-height: 1.688rem;
  color: var(--textPrimary);
  transition: var(--transition300);
}
.my_navbar .nav-link:hover {
  color: var(--textSecondary);
}

/* hero area */
.hero_area {
  background-color: rgb(230, 239, 237);
  padding: 3.125rem 0 0;
}

.hero_content .section_title {
  margin-bottom: 1.875rem;
}

.hero_content hr {
  display: block;
  border: 1px solid var(--bgPrimary);
  margin: 2.5rem 0;
}

.hero_counter h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--textSecondary);
  margin-bottom: 0.5rem;
}

.hero_counter p {
  color: var(--textPrimary);
  text-transform: capitalize;
  /* margin: 0; */
}

/* hero bottom section */
.hero_bottom {
  padding: 3rem 0;
  background-color: var(--bgPrimary);
  color: var(--textWhite);
}

.hero_bottom_content {
  padding: 10px 15px 10px 0;
  border-right: 1px solid #ffffff26;
}

.hero_bottom_content .icon_box {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff26;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* margin-right: 20px; */
  overflow: hidden;
}

.hero_bottom_content .icon_box::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgSecondary);
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.hero_bottom_content .icon_box img {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
}
.hero_bottom_content:hover .icon_box::before {
  transform: scale(1);
  background-color: #ffffff;
}

.hero_bottom_text h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.625;
}
.hero_bottom_text p {
  margin: 0;
}

/* about us */
.about_us {
  padding: 100px 0 50px;
  background: url(../images/about-us-bg.svg) no-repeat;
  background-position: right -100px center;
  background-size: auto;
}
.about_us_image {
  position: relative;
  overflow: hidden;
}
.about_us_image:hover .about_img::before {
  animation: effect_shine 1s;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}
.about_img {
  position: relative;
  overflow: hidden;
}
.about_img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-45deg);
}

.about_img img {
  border-radius: 1.875rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 30px;
}

/* about us  */

.about_us_text .section_title p {
  margin: 1.875rem 0;
}

.about_us_body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--darkDividerColor);
}

.about_list_item {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
}

.about_list_item .icon_box {
  margin-right: 0.625rem;
}

.about_list_item .icon_box img {
  width: 2rem;
}

.about_list_content {
  width: calc(100% - 44px);
}

.about_list_content h3 {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  color: var(--textPrimary);
}

/* about us footer */
.about_us_footer {
}
/* d-flex align-items-center justify-content-between */
.doctor_info {
  display: flex;
  justify-content: space-between;
}

.doctor_info_item {
}
.doctor_info_item .image_box {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}
.doctor_info_item .image_box img {
  max-width: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.doctor_info_item .image_box::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-45deg);
}

.doctor_info_item:hover .image_box::before {
  animation: effect_shine 1s;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}

.doctor_info_item .doctor_info_content {
  width: calc(100% - 58px);
}
.doctor_info_item .doctor_info_content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--textPrimary);
  text-transform: capitalize;
  margin-bottom: 5px;
}

.doctor_info_item .doctor_info_content p {
  color: var(--textPrimary);
  opacity: 50%;
  margin: 0;
}

.appointment_btn {
  width: 50%;
}

/* gallery carousel start */
.gallery_carousel {
  padding: 3.125rem 0;
}

.gallery_carousel_box {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 10px;
}

.gallery_scrolling_content {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  min-width: 100%;
  animation: galleryscroll 20s linear infinite;
}
@keyframes galleryscroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 10px));
  }
}

.gallery_scrolling_content .gallery_image img {
  border-radius: 1.875rem;
}

.gallery_carousel_box
  .gallery_scrolling_content
  .gallery_image:nth-child(even) {
  padding-top: 4.688rem;
}

.gallery_image {
  position: relative;
  overflow: hidden;
}

.gallery_image:hover::before {
  animation: effect_shine 1s;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}

.gallery_image::before {
  position: absolute;
  content: "";
  top: 0;
  left: -150%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-45deg);
}
/* gallery carousel end */

/* service start */
.our_services {
  padding: 3.125rem 0 4.375rem;
}

.section_row {
  margin-bottom: 3.75rem;
}

.section_btn {
  text-align: end;
}

/* service item */
.service_item {
  border: 1px solid var(--darkDividerColor);
  border-radius: 1.875rem;
  height: calc(100% - 1.875rem);
  margin-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
}

.service_item::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0px;
  background-color: var(--bgSecondary);
  transition: all 0.4s ease-in-out;
  height: 100%;
  z-index: -1;
}

.service_item:hover::before {
  top: 0;
}

.service_item .icon_box {
  width: 3.25rem;
  height: 3.25rem;
  background-color: var(--bgTertiary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.service_item .icon_box::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0px;
  background-color: var(--bg-white);
  transition: all 0.5s ease-in-out;
  height: 100%;
}

.service_item:hover .icon_box::before {
  top: 0;
}

.service_item .icon_box img {
  position: relative;
  max-width: 1.875rem;
  z-index: 1;
}

.service_item .service_body {
  margin-bottom: 1.25rem;
}
.service_item .service_body h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  color: var(--textPrimary);
  transition: all 0.5s ease-in-out;
}

.service_item:hover .service_body h3 {
  color: var(--textWhite);
}
.service_item .service_body p {
  margin: 0;
  line-height: 1.7rem;
  color: rgb(85, 85, 85);
  /* opacity: .6; */
  transition: all 0.5s ease-in-out;
}

.service_item:hover .service_body p {
  color: var(--textWhite);
}

.service_item .service_footer {
}

.service_item .service_footer a {
  background-color: var(--bgPrimary);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.service_item .service_footer a:hover {
  background-color: #153c33b3;
}

.service_item .service_footer img {
  width: 20px;
}

.service_cta_item {
  padding: 2.5rem 6.25rem;
  text-align: center;
}

.service_cta_item .icon_box {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.service_item .service_cta_item .service_body p {
  width: 80%;
  margin: 0 auto;
}

.service_cta_item:hover .service-cta-btn .btn_default::after {
  width: 100%;
}

.service_cta_item:hover .service-cta-btn .btn_default::before {
  background-color: var(--bgSecondary);
}
/* service end */

/* solution your plan start */
.solution_your_plan {
  padding: 100px 0;
  background-color: var(--bgTertiary);
}

.solution_plan_image {
  display: flex;
  align-items: start;
  justify-content: end;
  position: relative;
  /* gap: 10px; */
}

.solution_plan_img_1 {
  margin-right: 1rem;
}

.solution_plan_img_1 figure,
.solution_plan_img_2 figure {
  display: block;
}
.solution_plan_img_1 img,
.solution_plan_img_2 img {
  border-radius: 1.875rem;
}

.solution_plan_img_1 figure:after,
.solution_plan_img_2 figure:after {
  width: 250%;
}

.reveal {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.image-anime {
  position: relative;
  overflow: hidden;
}

.image-anime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.image-anime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

.solution_plan_content {
  margin-left: 1.25rem;
}
.solution_plan_content .section_title {
  margin-bottom: 1.875rem;
}
.solution_plan_content .section_title h3 {
  background-color: var(--bg-white);
}
.solution_plan_content .section_title p {
  margin-top: 1.875rem;
  margin-bottom: 0;
  opacity: 0.6;
}

/* solltion plan body */

.solution_plan_body {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--darkDividerColor);
}

.solution_plan_body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.solution_plan_body ul li {
  position: relative;
  color: var(--textPrimary);
  padding-left: 1.875rem;
  margin-bottom: 0.625rem;
}

.solution_plan_body ul li::before {
  position: absolute;
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.125rem;
  color: var(--textPrimary);
  display: inline-block;
  line-height: normal;
  top: 4px;
  left: 0;
}

/* solution counter */
.solution_counter_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_counter_item .icon_box {
  margin-right: 0.625rem;
}

.solution_counter_item .icon_box img {
  max-width: 3rem;
}

.solution_counter_item .solution_counter_content {
  width: calc(100% - 3.625rem);
}

.solution_counter_item .solution_counter_content h3 {
  margin: 0;
  color: var(--textPrimary);
  font-size: 1.375rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.solution_counter_item .solution_counter_content p {
  margin: 0;
  text-transform: capitalize;
  color: var(--textPrimary);
  line-height: 1.7rem;
}
/* solution your plan end */

/* why choose us start */
.why_choose_us {
  padding: 6.25rem 0;
}

.why_choose_us .why_choose_us_box {
  position: relative;
  margin-top: 30px;
}

.why_choose_us .section_row {
  margin-bottom: 3.75rem;
}

.why_choose_us .section_title {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.why_choose_box_1 {
  background-color: var(--bgTertiary);
  border-radius: 1.875rem 0 0 1.875rem;
}

.why_choose_item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--darkDividerColor);
  padding: 2.5rem;
}

.why_choose_item .icon_box {
  background-color: var(--bg-white);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.why_choose_item .icon_box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  background-color: var(--bgPrimary);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.why_choose_item .icon_box img {
  position: relative;
  max-width: 30px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.why_choose_item:hover .icon_box::before {
  transform: scale(1);
}
.why_choose_item:hover .icon_box img {
  filter: brightness(0) invert(1);
}

.why_choose_item:last-child {
  border-bottom: none;
}

.why_choose_content {
  position: relative;
  width: calc(100% - 72px);
  max-width: 300px;
  z-index: 1;
}

.why_choose_content h3 {
  color: var(--bgPrimary);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.why_choose_content p {
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--textPrimary);
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.why_choose_box_2 {
  background-color: var(--bgPrimary);
  border-radius: 0 30px 30px 0;
}

.why_choose_box_2 .why_choose_item {
  border-color: var(--dividerColor);
  flex-direction: row-reverse;
  text-align: right;
}

.why_choose_box_2 .why_choose_item .icon_box {
  margin-right: 0;
  margin-left: 20px;
}

.why_choose_box_2 .why_choose_item .icon_box::before {
  background-color: var(--bgTertiary);
}

.why_choose_box_2 .why_choose_item:hover .icon_box img {
  filter: brightness(1) invert(0);
}

.why_choose_box_2 .why_choose_content h3 {
  color: var(--textWhite);
}

.why_choose_box_2 .why_choose_content p {
  color: var(--textWhite);
  opacity: 0.7;
  font-weight: 300;
}

.why_choose_image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* why choose us end */
